emails.json
token.pickle
src/.env
src/emails.json
src/neo4j.txt 
src/token.pickle
src/cypher_generator.py
src/credentials.json
src/_pycache_
src/vector_databases/.dockerignore
src/vector_databases/compose.yaml
src/vector_databases/Dockerfile